@model Folders.DAL.Entities.Folder


<div>

    <h2>"Folder" - @Model.Name</h2>

    @if(Model.Children is null || !Model.Children.Any())
    {
        <p>This folder has no descendants</p>
    }
    else
    {
        <ul>
            @foreach (var entity in Model.Children)
            {
                <li>
                    <a asp-controller="Home" asp-action="GetFolder" asp-route-id="@entity.Id">@entity.Name</a>
                </li>
            }
        </ul>
    }
</div>
